.background {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 80px); /* Subtract the footer's height */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative; /* Add this positioning property */

  }

.image{
    background-image: url("https://wallpapercave.com/wp/wp3720140.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative; /* Add this positioning property */

}

.background-unique{
  background-color: antiquewhite;
}

.headline{
    color:rgba(3, 114, 114, 0.585);
    font-family: "Times New Roman", Times, serif;

    text-align:left;
    padding-top: 1em;
    
}

.font-custom2{
    text-align: justify; 
    text-justify: inter-word;
    justify-content: center;
    align-items: center;
    
}

.container2{
    background-color: lightblue; /* Transparent white background */
    padding: 20px;
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 10px;
    max-width: 1300px;
    margin: 30px auto 0;


}
.flip-card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    width: 200px;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front{
    position: relative;
    height: 400px;
    
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height:100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    
  }
  
  .flip-card-back {
    background: white;
    border: 1px solid grey;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height:450px;

  }
  
  .card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1500px; /* Adjust the maximum width as needed */
    padding: 20px;
  }
  
  .cards {
    margin: 0 0 20px; /* Added margin for vertical spacing */
    position: relative;
    height: 450px;
  }

  .inline-buttons{
    margin-top: 2rem;

  }

  .font-1{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px; 
    align-items: center;
    text-align: center;
    
}

.font-inline-main{
  color:white;
  font-family: "Inika", Times, serif;
  font-size: 30px; 
  align-items: center;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-bottom: 30px;
  padding:30px;
  
}

.font-inline-main2{
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size:25px;
  font-weight: normal;
  text-align: center;

}

.small-container2{
  color:black  !important;
  max-width: 100%;
  height:300px;
  margin-bottom: 20px;
  margin-top:-30px;


}
